.row {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.value{
 display: flex;
 padding: 10px;
 text-align: center;
 justify-content: center;
 gap: 20px;
}

.specific-value{
  padding: 20px;
  background-color: aqua;
}
